<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Error</h1>
    <p><%= message %></p>
    <a href="/posts">Back to all posts</a>
</body>
</html>